#-------------------#
<homogenization>
#-------------------#
[none]
mech	 none

#-------------------#
<crystallite>
#-------------------#
[def and firstPicola]

(output) f              
(output) p              


#-------------------#
<phase>
#-------------------#
[Martensite]

lattice_structure    isotropic
elasticity           hooke
plasticity           none
c11      150e9
c12      50e9
(output) f              
(output) p              

[ferrite]

lattice_structure    isotropic
elasticity           hooke
plasticity           none
c11      100e9
c12      10e9
(output) f              
(output) p              

{geom.geom}